<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>View comments</title>
    <link rel="stylesheet" type="text/css" href="server_address/style.css">
    <script async src="server_address/view.js"> </script>
</head>

<body>
    <div class="container">
        <div class="content">
            <header>
                <nav>
                    <ul class="menu">
                        <li><a href="server_address">Главная</a></li>
                        <li><a href="server_address/comment">Добавить комментарий</a></li>
                        <li><a href="server_address/view">Список комментариев</a></li>
                        <li> <a href="server_address/stat">Статистика</a>
                        </li>

                    </ul>
                </nav>
            </header>
<div class="manage_comments">
            <label class="limit">Укажите количество записей:
                <select name="" id="limit">
                    <option value="5">5</option>
                    <option value="10" selected>10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                </select>
            </label>

            <input type="submit" id="delete" value="Удалить" onclick="DeleteRowFunction()">
</div>
            <div class="table_view_comments">
                <table class="View_comments" id="view_comments">
                    <caption class="main_table">Список комментариев</caption>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Регион</th>
                    <th>Город</th>
                    <th>Телефон</th>
                    <th>Эл/почта</th>
                    <th>Комментарий</th>
                    <th>Удалить</th>
                    comment_table
                </table>
            </div>
            <div class="pagination">        
            <button id="prev" class="delete" onclick="ShiftPrev()">&lt;&lt;Prev</button>
            <button id="next" class="delete" onclick="ShiftNext()">Next&gt;&gt;</button>
            </div>            
        </div>
        <footer>
            <p>&copy;All rights reserved</p>
        </footer>
    </div>
</body>

</html>
